* {
	margin: 0;
	padding: 0;
	font: 14px/22px "Microsoft YaHei",Verdana,Arial;
}

/*导航*/
.navbar{
	margin-bottom: 0px;
}

/*banner*/
.blue-slide {
	background: #4390EE;
	background: url('../images/banner01.png') no-repeat center center;
}
.red-slide {
	background: #CA4040;
	background: url('../images/banner02.png') no-repeat center center;

}
.orange-slide {
	background: #FF8604;
	background: url('../images/banner03.png') no-repeat center center;

}
.swiper-slide {
	height: 300px;
	color: #fff;
	font-size: 36px;
	text-align: center;
}

/*搜索*/
#index-search{
	margin-top: 20px;
}
#index-search .input-group{
	width:700px;
	margin: 0 auto;
}
/*公司列表*/
.company .container{
	width:900px;
	padding-top: 10px;
}
.company .container .col-md-2{
	margin-top:10px;
}
.company .container .col-md-2 img{
	width: 100px;
	height: 100px;
	border:1px solid #ccc;
}
/*居中h2标题*/
.h2-center {
    width: 100%;
    line-height: 25px;
    text-align: center;
    font-weight: normal;
    font-size: 25px;
    color: #447791;
    position: relative;
}
.h2-center:before {
    left: 0;
}
.h2-center:after, .h2-center:before {
    content: '';
    width: 360px;
    height: 1px;
    background-color: #dbdbdb;
    position: absolute;
    top: 12px;
    right: 0;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
/*职位分类*/
.zwfl{
	margin-bottom: 20px;
}
.zwfl .container{
	width: 900px;
	padding:20px 0;
}
.zwfl .container .btn-group{
	margin-top: 10px;
	padding:0 12px;
}
.zwfl .container .btn-group button{
	width: 100px;
}
/*热门职位*/
.rmzw{
	width: 100%;
	padding-bottom: 20px;
	background: #F1F4F6;
}
.rmzw .container{
	width: 1024px;
}
/*职位模块*/
.job-info {
    width: 100%;
    background-color: #fff;
    border: 1px solid #eeeeee;
    margin-top: 12px;
}
.job-info .job-info-module{
    width: 50%;
    padding:15px;
    float: left;
    position: relative;
}
.clear{
	clear: both;
}
.job-info .job-info-module .company-brand{
	position: absolute;
	right: 56px;
	top: 17px;
}
.job-info .job-info-module .company-brand img{
	max-width: 100%;
	width: 80px;
	height:80px;
}
.overshadow {
    box-shadow: 1px 0 0 0 #d7dbda;
}
/*最新职位*/
.zxzw{
	width: 100%;
	padding-bottom: 20px;
	background: #F1F4F6;
}
.zxzw .container{
	width: 1024px;
}
.more{
	display: block;
	float: right;
	margin: 30px 10px 0 0;
	font-size: 18px;
}

/*底部*/
.footer{
	width: 100%;
	height:120px;
	background:#242F38;
}